@font-face 
{
    font-family: PressStart2P; src: url('fonts/PressStart2P-vaV7.ttf');
}

@font-face
{
    font-family: SFPro; src: url('fonts/SFPRODISPLAYREGULAR.OTF');
}

@keyframes thingy
{
    0% {left: 0px; top: 0px;}
    100% {left: 0px; top: 200px;}
}

h1
{
    font-family: SFPro;
    font-size: 2em;
    text-align: center;
}


h2
{
    font-family: SFPro;
    font-size: 1.40em;
    text-align: center;
}

strong
{
    font-family: SFPro;
    font-size: 1.20em;
}

.lightblue
{
    background-color: rgb(170, 217, 247);
}

.red
{
    background-color: rgb(252, 153, 153);
    animation-name: thingy;
    animation-duration: 2s;
}

.yellow
{
    background-color: rgb(253, 253, 179);
}

.purple
{
    background-color: rgba(255, 129, 255, 0.993);
}

.green
{
    background-color: rgb(133, 241, 133)
}

.orange
{
    background-color: rgb(252, 173, 26);
}

p
{
    font-family: SFPro;
    font-size:20px;
}

img
{
    border-style: solid;
    text-align: center;
    display: block;
    margin: auto;
}

.noborder
{
    border-style: none;
    text-align: center;
    display: block;
    margin: auto;
}

.red_sub
{
    font-family: SFPro;
    padding: 10px;
    text-align: center;
}

.topnav
{
    background-color: #333;
    overflow: hidden;
    color: #f2f2f2;
    float:inline-start;
    margin-top: -10px;
}

.topnav a
{
    font-family: SFPro;
    font-weight: 500;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover
{
    background-color: rgba(221, 214, 214, 0.945);
    color: black;
}

.topnav a.active
{
    background-color: rgba(16, 116, 179, 0.808);
    color: white;
}

.navbar-brand .topnav
{
    float: left;
    padding-top: 0.29375rem;
    padding-bottom: 0.29375rem;
    font-size: calc(1.2625rem + 0.15vw);
    text-decoration: none;
    white-space: nowrap;
}

.timeline_info h2
{
    font-family: PressStart2P;
    text-align: center;
    font-size: 2.5em;
}

.timeline_info p
{
    font-family: SFPro;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: justify;
}

.timeline_info
{
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    text-align: center;
    text-justify: inter-word;
}

.info
{
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
}

.info p
{
    padding: 10px;
    border-left: 6px solid lightskyblue;
}

.music_info
{
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
}

.music_info p
{
    padding: 10px;
    border-left: 6px solid rgb(214, 2, 214);
}

figcaption
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
}

html, body
{
    scroll-behavior: smooth;
}

.top
{
    --offset: 50px;

    position: sticky;
    bottom: 20px;
    margin-right: 10px;
    place-self: end;
    margin-top: calc(100vh + var(--offset));

    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 100px;
    white-space: nowrap;
}

* 
{
    box-sizing: border-box;
}

.column
{
    float: left;
    width: 45%;
    padding: 5px;
}

@media screen and (max-width: 500px) {
    .column
    {
        width: 100%;
    }
}

.row::after 
{
    content: "";
    clear: both;
    display: table;
}

.map_description p
{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.map_description ul
{
    list-style-type: none;
    font-size: 1.10em;
}

.map_description li
{
    margin-left: auto;
    margin-right: 2em;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2em;
}

.mechanics ul
{
    list-style-type: none;
}

.mechanics li
{
    text-align: center;
}

td
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2.5px;
}

th
{
    font-family: SFPro;
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
}

hr
{
    border: none;
    height: 1px;
    background: linear-gradient(to right,rgba(0,90,156,.25) 0,rgba(76,183,72,.5) 50%,rgba(238,32,46,.25) 100%);
}

